@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: SpotifyMix;
    src: url(../../public/SpotifyMix.ttf);
}


img{
    user-select: none;
    -webkit-user-drag: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: SpotifyMix;
}

body{
    background-color: black;
}

img{
    user-select: none;
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 100%, .3);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

::selection {
    background-color: #1ED760;
    color: white;
  }